@import 'aos/dist/aos.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-gold: #d4af37;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  position: relative;
  width: 100%;
}

.text-gold {
  color: var(--color-gold);
}

.bg-gold {
  background-color: var(--color-gold);
}